hr{
    width: -webkit-fill-available;
    margin: 0 15px 0 15px;
    background-color:white;
    opacity: 1;
}

.btn-logout{
    margin: 15px;
    width: -webkit-fill-available;
}

.btn-danger{
    background: #d9534f;
    border: 0px;
}

nav .fa-user{
    font-size: 20px;
    margin-right: 5px;
}

.navbar-header {
    background: #3e4095 !important;
}

.slimscrollsidebar{
    background-color: #3e409552;
}

.profile-pic{
    margin-right: 10px;
}

.breadcrumb{
    float: left !important;
    margin: 8px 10px 0 10px !important;
}

.logo-admin{
    width: 30px;
}

.text-muted{
    color:  #4b597e;
    font-weight: 400;
}

.text-muted span{
    background: #c3c4c5;
}

.title-box{
    text-transform: uppercase;
    background: #4b597e26;
    padding: 5px 10px 5px 20px;
    margin-bottom: 15px;
}

.title-box h3{
    font-weight: 500;
    color: #4b597e;
}

.btn-primary{
    background: #4b597e !important;
    border-radius: 3px;
}

hr.dashboard {
    background-color: #4b597e;
    height: 1px;
    color: black;
    margin: 20px 0px 20px 0px;
    opacity: 0.3;
}

.d-none {
    display: none !important;
}

a.disabled {
    pointer-events: none;
}

.custom-label {
    float: left;
}

.btn-warning, .btn-warning.disabled{
    background: #4B597A;
}

.form-control{
    color: #000000;
}

tbody{
    color: #4b597a;
}