/*
    Theme Name: Bell
    Theme URL: https://bootstrapmade.com/bell-free-bootstrap-4-template/
    Author: BootstrapMade.com
    Author URL: https://bootstrapmade.com
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
}

p {
  line-height: 1.55;
  color: #333;
  font-size: 400;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 62px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
  font-weight: 600;
  color: #3e4095;
}

h4 {
  font-size: 18px;
}

/* ==================================================
  General
  ================================================== */

a {
  transition: 0.5s;
}

/* ==================================================
  Elements
  ================================================== */

.btn {
  background-color: #3e4095;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 800;
  color: #fff;
  padding: 15px 45px;
  border-radius: 50px;
}

.btn:hover {
  background-color: #E04F00;
  color: #fff;
}

.btn:focus {
  color: #fff;
}

.btn-ghost {
  border: 3px solid #fff;
  background-color: transparent;
}

.btn-ghost:hover {
  background-color: #fff;
  color: #3e4095;
}

section {
  padding: 60px;
}

.card {
  position: relative;
  padding: 0;
  border: 0;
  border-radius: 0;
  margin: 0;
  overflow: hidden;
}

a:hover {
  text-decoration: none !important;
}

.scrolltop {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #3e4095;
  color: #fff;
  text-align: center;
  font-size: 24px;
}

.scrolltop:hover,
.scrolltop:active,
.scrolltop:focus {
  color: #fff !important;
  opacity: .75;
}

/* ==================================================
  Hero Styling
================================================== */

.hero {
  display: table;
  position: relative;
  background-image: url(../img/cover.jpg);
  background-size: cover;
  padding: 150px 0;
  color: #fff;
  width: 100%;
  height: 100vh;
}

.hero:after {
  content: '';
  z-index: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.65);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.hero .container {
  position: relative;
  z-index: 1;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

.hero-brand {
  margin-bottom: 75px;
  display: inline-block;
}

.hero-brand:hover {
  opacity: .75;
}

.tagline {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-size: 26px;
  margin: 5px 0 75px 0;
  color: #fff;
}

/* ==================================================
  Header Styling
================================================== */

#header {
  background: #3e4095;
  height: 60px;
}

#header #logo {
  margin: 10px 25px 0 0;
}

#header #logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 2px 0;
  line-height: 1;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header #logo h1 a,
#header #logo h1 a:hover {
  color: #fff;
}

#header #logo img {
  padding: 0;
  margin-top: -10px;
  max-height: 40px;
}

#header .social-nav {
  margin-top: 0px;
}

#header .social-nav a {
  font-size: 24px;
  margin-left: 15px;
  color: #fff;
}

#header .social-nav a:hover {
  color: rgba(255, 255, 255, 0.75);
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

/* Nav Menu Essentials */

.nav-menu,
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

/* Nav Menu Arrows */

.sf-arrows .sf-with-ul {
  padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 15px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

/* Nav Meu Container */

#nav-menu-container {
  margin: 0;
}

/* Nav Meu Styling */

.nav-menu a {
  padding: 10px 10px 10px 15px;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  outline: none;
}

.nav-menu a:hover,
.nav-menu li:hover > a,
.nav-menu .menu-active > a {
  color: rgba(255, 255, 255, 0.75);
}

.nav-menu ul {
  margin: 4px 0 0 15px;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.08);
}

.nav-menu ul li {
  background: #fff;
  border-top: 1px solid #f4f4f4;
}

.nav-menu ul li:first-child {
  border-top: 0;
}

.nav-menu ul li:hover {
  background: #3e4095;
  transition: 0.3s;
}

.nav-menu ul li a {
  color: #333;
  transition: none;
  padding: 10px 15px;
}

.nav-menu ul li a:hover {
  color: #fff;
}

.nav-menu ul ul {
  margin: 0;
}

/* Mobile Nav Toggle */

#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 8px 10px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}

#mobile-nav-toggle i {
  color: #fff;
}

/* Mobile Nav Styling */

#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(0, 0, 0, 0.9);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #fff;
  font-size: 16px;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
}

#mobile-nav ul li a:hover {
  color: #fff;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #3e4095;
}

#mobile-nav ul .menu-item-active {
  color: #3e4095;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  display: none;
}

/* Mobile Nav body classes */

body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}


/* ==================================================
  Stats Styling
================================================== */

.stats-row {
  margin-top: 50px;
}

.stats-col .circle {
  display: inline-block;
  width: 160px;
  height: 160px;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-weight: 500;
  color: #666;
  border: 6px solid #3e4095;
  border-radius: 50%;
  padding: 55px 25px 0 25px;
  position: relative;
}

.stats-col .circle .stats-no {
  color: #fff;
  width: 70px;
  height: 70px;
  line-height: 70px;
  top: -25px;
  right: -15px;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-size: 18px;
  background-color: #E04F00;
  position: absolute;
  border-radius: 50%;
  font-weight: 700;
}

/* ==================================================
  Parallax Styling
  ================================================== */

.block {
  color: #fff;
  height: 490px;
  overflow: hidden;
  padding-top: 85px;
}

.block h2 {
  text-transform: uppercase;
  margin-bottom: 15px;
}

.block p {
  color: #fff;
  margin-bottom: 45px;
}

/* ==================================================
  Features Styling
  ================================================== */

.features {
  padding-bottom: 45px;
}

.features h2 {
  color: #3e4095;
}

.feature-col {
  display: table;
  padding-bottom: 45px;
}

.feature-col > div > div {
  display: table-cell;
  vertical-align: middle;
}

.feature-col > div > div:last-child {
  padding-left: 20px;
}

.feature-col .feature-icon {
  width: 70px;
  height: 70px;
  margin-bottom: 15px;
  background: #3e4095;
  color: #fff;
  font-size: 24px;
  text-align: center;
  line-height: 70px;
  border-radius: 50%;
  display: inline-block;
}

.feature-col h3 {
  color: #3e4095;
}

.feature-col p {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #999;
}

/* ==================================================
  Call-to-action Styling
  ================================================== */

.cta {
  background-color: #3e4095;
  padding: 25px 0;
}

.cta h2 {
  margin-bottom: 5px;
}

.cta h2,
.cta p {
  color: #fff;
}

.cta p {
  margin-bottom: 0;
  opacity: .75;
}

.cta .btn-ghost {
  position: relative;
  top: 13px;
}


.button1:hover {
  background-color: #fff;
  color: #3e4095;
}
/* ==================================================
  Footer Styling
  ================================================== */

.site-footer {
  background-color: #111;
  padding: 0;
}

.site-footer h2,
.site-footer p {
  color: #fff;
}

.site-footer p {
  opacity: .75;
  line-height: 2.0925;
}

.site-footer h2,
.site-footer .btn {
  margin-bottom: 25px;
}

.site-footer .social-nav a {
  color: #fff;
  opacity: .25;
}

.site-footer .social-nav a:hover {
  opacity: 1;
}

.site-footer .bottom {
  background-color: #000;
  padding: 20px 0;
}

.site-footer .bottom .list-inline,
.site-footer .bottom p {
  margin: 0;
}

.site-footer .bottom .list-inline {
  position: relative;
  top: 5px;
}

.site-footer .bottom .list-inline a {
  color: #fff;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  margin-right: 15px;
}

.site-footer .bottom .list-inline a:hover {
  color: #3e4095;
}

.site-footer .credits {
  color: #ddd;
}

.site-footer .credits a {
  color: #3e4095;
}

/* ==================================================
  Responsive Styling
  ================================================== */

@media (max-width: 768px) {
  #header {
    height: 50px;
  }

  #header #logo {
    margin: 10px 0 0 0;
  }

  #header #logo h1 {
    padding: 2px 0;
    font-size: 26px;
  }

  #header #logo img {
    max-height: 30px;
  }

  #nav-menu-container {
    display: none;
  }

  #mobile-nav-toggle {
    display: inline;
  }
}

@media (max-width: 767px) {
  .block {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 61.9em) {
  section,
  .block,
  .cta {
    padding: 35px 0;
  }

  .features {
    padding-bottom: 5px;
  }

  p,
  .block p {
    margin: 0;
  }

  .hero-brand {
    margin-bottom: 35px;
  }

  .tagline {
    margin: 35px 0;
  }

  h1 {
    font-size: 32px;
    margin: 0;
  }

  h2,
  .tagline {
    font-size: 24px;
  }

  h2 {
    margin-bottom: 25px;
  }

  h3 {
    font-size: 14px;
  }

  .hero {
    padding: 75px 0;
  }

  .stats-col {
    margin-bottom: 25px;
  }

  .block {
    height: auto;
  }

  .feature-col {
    padding-bottom: 30px;
  }

  .portfolio-grid .card h3.card-title {
    font-size: 18px !important;
  }

  .portfolio-grid .card .card-text {
    font-size: 13px;
  }

  .team .team-over {
    padding-top: 20px;
  }

  .team .card .social-nav {
    margin-bottom: 15px;
    padding: 0;
  }

  .site-footer .social-nav {
    margin-bottom: 35px;
  }

  .site-footer .list-inline {
    text-align: center;
    padding-bottom: 15px;
  }

  .site-footer .list-inline li {
    display: inline-block;
  }
}

small{
  color: #b69877;
}
small a, 
p a{
  color: #ddd;
  text-decoration: none;
}

/* Header */
header{
  background: #5b264e;
  padding: 10px 20px;
  margin-bottom: 0;
  position: relative;
  z-index: 10;
  overflow: hidden;
}
header a{
  color: #dddddd;
  text-decoration: none;
}
header img{
  float: left;
}
header h1{
  margin-top:20px;
  margin-left:80px;
  font-family: 'Righteous', cursive;
}

/* Content */

.page{
  background: url(../img/twd-logo.png) right top no-repeat;
}
.one{
  background-color: #ae6c66;
}
  .one .page-container{
    position: absolute;
    bottom: 100px;
    margin-left: -400px;
    left: 50%;
    margin-bottom: 150px;
    max-width: 650px;
  }
    .one .page-container h2{
      font-size: 4em;
    }
    .one .page-container p{
      padding: 20px 0;
      line-height: 1.5em;
    }

.two{
  background-color: #b69877;
}
  .two .page-container{
    position: absolute;
    bottom: 100px;
    margin-left: -400px;
    left: 50%;
    margin-bottom: 150px;
    max-width: 650px;
  }
    .two .page-container h2{
      font-size: 4em;
    }
    .two .page-container p{
      padding: 20px 0;
      line-height: 1.5em;
    }


.three{
  background-color: #036564;
}
  .three .page-container{
    position: absolute;
    bottom: 0px;
    margin-left: -400px;
    left: 50%;
    margin-bottom: 150px;
    max-width: 650px;
  }
    .three .page-container h2{
      font-size: 4em;
    }
    .three .page-container p{
      padding: 20px 0;
      line-height: 1.5em;
    }
/*hover button*/
 .hover-custom:hover {
  opacity: 0.3;
  background-color: white;
}
.alert h4 {
  margin: auto!important;
  font-size: 1.4em;
}

.checkbox{
  padding:5px;
}

.btn-submit-repair{
  font-size: 1.5em!important;
  font-weight: bold!important; 
  min-width: 100%;
  margin:20px;
  border-radius: 50px!important;
  margin: 35px 20px!important;
}

.bg-image {
  display: block;
  position: relative;
}

.bg-image::after{
  content: "";
  background-image: url(../img/cover.jpg)!important;
  background-size: cover;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#about h2{
  font-weight: bold!important;
}
